
.page {
    font-family: Helvetica, sans;
    font-size: 20px;
}

/* This parent can be any width and height */
.center-parent {
    text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.center-parent:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.vertically-centered {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

.content-addition-area {
    height: 200px;
    width: 100%;
    border: 1px dashed #dfdfdf;
    margin: 10px 0 10px 0;
}

.uploaded-image {
    width: 400px;
    margin: 20px;
}

.qq-upload-drop-area span {
    display: block;
    height: 200px;
    background-color: #efefef;
}

.inline-instructions {
    color: #909090;
}