#{extends 'main.html' /}
#{set title:'Page' /}

#{extends 'main.html' /}
#{set title:'Page' /}

<script>
    var _data = ${json ? json.raw() : "null"};
</script>


<div class="page wrap">

    <div class="container">
        <div class="images"></div>
        <!--textarea class="content-addition-area"></textarea-->
        <div class="content-addition-area">
            <span class="inline-instructions">Click here to start entering text, or drag something here.</span>
        </div>
        <input type="hidden" name="id" value="${id}"/>
        <a class="btn btn-primary btn-lg save-button" title="Save document">Save</a>
    </div>

</div>